<phpunit
    backupGlobals="false"
    colors="true"
    bootstrap="app/autoload.php"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "true"
    syntaxCheck                 = "true"
    verbose                     = "true"
    strict                      = "true"
    >

    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_DIR" value="app/" />
    </php>

    <testsuites>
        <testsuite name="Pulsar Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>src</directory>
            <exclude>
                <directory>./src/Component</directory>
                <directory>./src/AppBundle/Entity</directory>
                <directory>./src/AppBundle/Document</directory>
                <directory>./src/AppBundle/Resources</directory>
                <directory>./src/AppBundle/Repository</directory>
                <directory>./src/AppBundle/Tests</directory>
                <directory>./src/AppBundle/Controller</directory>
                <directory>./src/AppBundle/DependencyInjection</directory>
                <directory>./src/AppBundle/Form</directory>
                <directory>./src/Telosys/Domain/Document</directory>
                <directory>./src/Telosys/Domain/Entity</directory>
                <directory>./src/Telosys/Domain/Repository</directory>
                <file>./src/AppBundle/AppBundle.php</file>
            </exclude>
        </whitelist>
    </filter>

    <groups>
        <exclude>
            <group>fixme</group>
            <group>disabled</group>
        </exclude>
    </groups>

    <logging>
        <log type="coverage-html" target="build/reports/coverage" charset="UTF-8" yui="true"
            highlight="true" lowUpperBound="60" highLowerBound="80" />
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>

    <php>
        <ini name="date.timezone" value="Europe/Paris" />
    </php>
</phpunit>
