fos_rest:
    serializer:
        serialize_null: true
    routing_loader:
        default_format: json
        include_format: false
    param_fetcher_listener: force
    body_listener: true
    body_converter:
        enabled: true
        validate: true
    view:
        view_response_listener: 'force'
        mime_types:
            csv: ['text/csv']
        formats:
            json: true
            xml: true
        templating_formats:
            csv: true
    zone:
        - { path: ^/api }
    format_listener:
        rules:
            - { path: '^/api', priorities: ['json'], fallback_format: json, prefer_extension: false }
            #- { path: '^/', priorities: ['html'], fallback_format: html, prefer_extension: false }

    exception:
        codes:
            'Symfony\Component\Security\Core\Exception\AuthenticationException': 401
            'Symfony\Component\Security\Core\Exception\AccessDeniedException': 403
            'AppBundle\Exception\Printable\PrintableException': 500
        messages:
            'Symfony\Component\HttpKernel\Exception\HttpException' : true
            'Symfony\Component\HttpKernel\Exception\HttpException': true
            'Symfony\Component\Security\Core\Exception\AccessDeniedException': true
            
parameters:
    jms_serializer.serialized_name_annotation_strategy.class: JMS\Serializer\Naming\IdenticalPropertyNamingStrategy
